<ion-app>

  <app-sidebar></app-sidebar>

  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="logo--small nav-bar__logo" (click)="home()" >SAmotos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet id="main">

    </ion-router-outlet>

  </div>
</ion-app>
