
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu" >
  <ion-content>
    <ion-list>
      <ion-item>Costom</ion-item>
      <ion-item>Sport</ion-item>
      <ion-item>Scooter</ion-item>
      <ion-item>Street</ion-item>
      <ion-item>Touring</ion-item>
      <ion-item>Trail</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="conteudo">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Triumph Street Triple RS 2022</ion-card-title>
    </ion-card-header>
    <img src="https://media.motociclismoonline.com.br/uploads/2021/10/Triumph-Street-Triple-RS-Linha-2022-3-.jpg" alt="">
    <ion-card-content>
      O visual agressivo da Street Triple RS também foi preservado pela Triumph.. A mototraz suspensões de alta performance, freios de alta especificação e muita tecnologia embarcada.

    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Honda Elite 125 2022</ion-card-title>
    </ion-card-header>
    <img src="https://www.honda.com.br/motos/sites/hda/files/styles/desktop_840x503/public/2021-11/Galeria_2_2.webp?itok=Ykyv13gw%201x" alt="">
    <ion-card-content>
      A Elite não te deixa parar, e para garantir a melhor entrega em custo benefício, o seu painel é 100% digital, contando, ainda, com relógio, velocímetro, indicadores de combustível, hodômetro e luz-espia.
    </ion-card-content>
  </ion-card>
  <ion-item lines="none">
    <ion-button color="dark" class="btn">Login</ion-button>
    <ion-button color="dark" class="btn1">Cadastre-se</ion-button>
  </ion-item>

  <ion-footer collapse="fade" class="end">
    <ion-toolbar>
      <p style="text-align:center;">Copyright © Todos os Direitos Reservados</p>
    </ion-toolbar>
  </ion-footer>

  <ion-footer class="end1">
    <ion-input value="Sobre"></ion-input>
  </ion-footer>
  
</ion-content>
