.my-custom-menu {
    --width: 500px;
  }

  .card{
      margin-top: 70px;
  }

  .btn{
    margin-top: 10px;
   margin-inline: auto;
  }
  

.btn1{
  margin-top: 10px;
 margin-inline: auto;
}

.end{
  margin-top: 50px;
}

.end1{
  margin-top: 10px;
  margin-left: 120px;
}